*, *:before, *:after {
  box-sizing: border-box;
  font-family: "Fira Code", "Open Sans";
  font-weight: 300;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  justify-content: center;
  align-items: center;
  text-align: center;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root {
  border: 1px solid rgba(109, 234, 0, 0.721);
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.main {
  max-width: 60%;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main p {
  width: 60%;
  height: 4rem;
  margin-top: 2rem;
}

.canvasContainer {
  background-color: rgba(255, 255, 255, .1);
  border-radius: 15px;
  width: 400px;
  height: 400px;
  margin: 2rem 0;
}