#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Fira Code", "Open Sans";
  font-weight: 300;
}

.header {
  margin-bottom: 20%;
}

.subheader {
  margin-bottom: 30px;
}

.canvasContainer {
  border: 1px solid white;
  width: 400px;
  height: 400px;
}